.App {
  text-align: center;
}

body {
  margin: 0;
}

.white-color {
  color: white;
}
/************************** ERROR MESSAGE ******************/
.error-message {
  color: red;
  font-size: 1rem;
}

/* * NAV BAR * */
.nav-bar {
  background-color: rgb(28, 28, 28);
  width: 100vw;
}
.nav-bar div {
  display: flex;
}
.nav-bar div a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
.brand {
  text-align: center;
  width: 20%;
}
.nav-bar div nav {
  width: 80%;
  display: flex;
  justify-content: center;
}
.nav-bar div nav a:hover {
  transform: scale(1.2); /* Aumenta el tamaño de la imagen en un 10% */
  transition: all 0.3s ease-in-out; /* Suaviza la transición */
}
@media screen and (max-width: 600px) {
  .nav-bar div {
    flex-direction: column;
    font-size: 40px;
  }
  .nav-bar div nav {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .nav-bar div a {
  }
}

/* * end of  NAV BAR * */

/* * MAIN PAGE * */
.main-page {
  display: flex;
  background-color: rgb(238, 228, 228);
  background-size: cover;
  height: 90vh;
  width: 100vw;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
}
@media (max-width: 1000px) {
  .main-page {
    flex-direction: column-reverse;
  }
  .main-page div {
    height: auto;
    width: 100%;
  }
}

.eslogan {
  background-color: #a0a6a8;
  width: 50%;
}

.register-login {
  background-color: #2c7399;
  width: 50%;
}

/* end of MAIN PAGE   */

/* tourney-bracket */

body {
  font-family: "Istok Web", sans-serif;
  background: url("../public/images/bg-chall-bw4.jpg") no-repeat #000;
  background-size: cover;
  min-height: 100%;
  margin: 0;
}
.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
  color: #fcfcfc;
}
.hero h1 {
  font-family: "Holtwood One SC", serif;
  font-weight: normal;
  font-size: 5.4em;
  margin: 0 0 20px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: -1px;
}
.hero p {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  color: #5cca87;
  letter-spacing: 6px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}
.hero-wrap {
  padding: 3.5em 10px;
}
.hero p.intro {
  font-family: "Holtwood One SC", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3em;
  margin-bottom: -40px;
}
.hero p.year {
  color: #fff;
  letter-spacing: 20px;
  font-size: 34px;
  margin: -25px 0 25px;
}
.hero p.year i {
  font-size: 14px;
  vertical-align: middle;
}
#bracket {
  overflow: hidden;
  background-color: #e1e1e1;
  background-color: rgba(225, 225, 225, 0.4);
  padding-top: 20px;
  font-size: 12px;
  padding: 40px 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.split {
  display: block;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 42%;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
}
.champion {
  float: left;
  display: block;
  width: 16%;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: center;
  align-self: center;
  margin-top: -15px;
  text-align: center;
  padding: 230px 0\9;
}
.champion i {
  color: #a0a6a8;
  font-size: 45px;
  padding: 10px 0;
}
.round {
  display: block;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 95%;
  width: 30.8333%\9;
}
.split-two {
}
.split-one .round {
  margin: 0 2.5% 0 0;
}
.split-two .round {
  margin: 0 0 0 2.5%;
}
.matchup {
  margin: 0;
  width: 100%;
  padding: 10px 0;
  height: 60px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.score {
  font-size: 11px;
  text-transform: uppercase;
  float: right;
  color: #2c7399;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  right: 5px;
}
.team {
  padding: 0 5px;
  margin: 3px 0;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.round-two .matchup {
  margin: 0;
  height: 60px;
  padding: 50px 0;
}
.round-three .matchup {
  margin: 0;
  height: 60px;
  padding: 130px 0;
}
.round-details {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  color: #2c7399;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
}
.champion li,
.round li {
  background-color: #fff;
  box-shadow: none;
  opacity: 0.45;
}
.current li {
  opacity: 1;
}
.current li.team {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.vote-options {
  display: block;
  height: 52px;
}
.share .container {
  margin: 0 auto;
  text-align: center;
}
.share-icon {
  font-size: 24px;
  color: #fff;
  padding: 25px;
}
.share-wrap {
  max-width: 1100px;
  text-align: center;
  margin: 60px auto;
}
.final {
  margin: 4.5em 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.share-icon {
  color: #fff;
  opacity: 0.35;
}
.share-icon:hover {
  opacity: 1;
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
}
.date {
  font-size: 10px;
  letter-spacing: 2px;
  font-family: "Istok Web", sans-serif;
  color: #3f915f;
}

@media screen and (min-width: 981px) and (max-width: 1099px) {
  .container {
    margin: 0 1%;
  }
  .champion {
    width: 14%;
  }
  .split {
    width: 43%;
  }
  .split-one .vote-box {
    margin-left: 138px;
  }
  .hero p.intro {
    font-size: 28px;
  }
  .hero p.year {
    margin: 5px 0 10px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .split,
  .champion {
    width: 90%;
    margin: 35px 5%;
  }
  .champion {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .split {
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 20px;
  }
  .hero p.intro {
    font-size: 24px;
  }
  .hero h1 {
    font-size: 3em;
    margin: 15px 0;
  }
  .hero p {
    font-size: 1em;
  }
}

@media screen and (max-width: 400px) {
  .split {
    width: 95%;
    margin: 25px 2.5%;
  }
  .round {
    width: 21%;
  }
  .current {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
  }
  .hero h1 {
    font-size: 2.15em;
    letter-spacing: 0;
    margin: 0;
  }
  .hero p.intro {
    font-size: 1.15em;
    margin-bottom: -10px;
  }
  .round-details {
    font-size: 90%;
  }
  .hero-wrap {
    padding: 2.5em;
  }
  .hero p.year {
    margin: 5px 0 10px;
    font-size: 18px;
  }
}

/****************** Tourney Edit Form ***************/

.tourney-edit-form {
  display: flex;
  justify-content: center;
  color: yellow;
  border: 4px solid yellow;
}

.tourney-edit-form h5 {
  color: rgba(252, 251, 253, 0.801);
  border: 2px outset black;
  padding: 2%;
}
.tourney-edit-form #quarter-edit h5 {
  color: red;
}

#quarter-edit {
  padding: 2%;
  border-radius: 2%;
  border: 4px solid rgb(255, 81, 0);
}

#semi-edit {
  margin-top: 10%;
  height: 10%;

  padding: 5%;
  border-radius: 2%;
  border: 4px solid black;
}

#final-edit {
  margin-top: 18%;
  height: 10%;
  padding: 5%;
  border-radius: 2%;
  border: 4px solid rgb(25, 0, 255);
}
.bg1 {
  background-color: #b6b6b6;
  color: black;
  padding: 5%;
  border-radius: 2%;
}
.bg2 {
  background-color: #464646;

  padding: 5%;
  border-radius: 2%;
  margin: 3%;
  width: 100%;
  box-sizing: border-box;
}

.semia-bg-edit {
  background-image: radial-gradient(
    circle at 50% 36.29%,
    #6a6852 0,
    #656146 12.5%,
    #61583a 25%,
    #5d4f2d 37.5%,
    #59451f 50%,
    #553b12 62.5%,
    #523105 75%,
    #4f2700 87.5%,
    #4d1d00 100%
  );
  padding: 5%;
  border-radius: 2%;
}

.semib-bg-edit {
  background-image: radial-gradient(
    circle at 50% 36.29%,
    #6a6852 0,
    #656146 12.5%,
    #61583a 25%,
    #5d4f2d 37.5%,
    #806637 50%,
    #705324 62.5%,
    #523105 75%,
    #4f2700 87.5%,
    #4d1d00 100%
  );
  padding: 5%;
  border-radius: 2%;
  margin: 3%;
}

.final-tourney-edit-bg {
  background-image: radial-gradient(
    circle at 50% 36.29%,
    #6a6852 0,
    #656146 12.5%,
    #61583a 25%,
    #5d4f2d 37.5%,
    #bb9d65 50%,
    #b6b4b200 62.5%,
    #ddd6cd00 75%,
    #c0bfbe00 87.5%,
    #cfcece00 100%
  );
  padding: 5%;
  border-radius: 2%;
}

/*****************************  Tourney List Page ****************************/
/*___________________________________________________________________________*/

.general-container {
  background-color: rgb(139, 139, 139);
}

.general-container a {
  text-decoration: none;
}
.search-box {
  color: rgb(179, 179, 179);
  background-color: rgb(255, 81, 0);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*____________________________ Tourney Card ____________________________*/

.tourney-card {
  background-color: rgb(75, 75, 77);
  width: 300px;
  height: 400px;
  border-radius: 5%;
  margin: 20px;
  transition: all 300ms ease-out;
  opacity: 0.9;
}

.tourney-card-image {
  width: 100%;
  height: 35%;
}

.tourney-card-image img {
  height: 100%;
}

.tourney-card-content {

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  height: 65%;
}

.tourney-card-content div {

  border-top: 1px solid white;
}

.tourney-card:hover {
  box-shadow: 10px 5px 5px white;
  transform: scale(1.05);
  transition: all 300ms ease-in;
  opacity: 1;
}
