/* GENERAL */

.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: #bec0ca;
}

.general-btn-blue {
background-color: #000d56;
color: white;
padding: 10px;
width: 200px;
border-radius: 7px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.general-btn-red {
  background-color: rgb(163, 19, 19);
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 7px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
/************************** ERROR MESSAGE ******************/
.error-message {
  margin-top: 20px;
  color: red;
  font-size: 1rem;
}

/*****************************       NAV BAR      ****************************/
/*___________________________________________________________________________*/

.nav-bar {
  color: white;
  z-index: 999;
  position: sticky;
  top: 0; /* required */  
  background-color: rgb(28, 28, 28);
  width: 100vw;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.nav-bar div {
  display: flex;
  align-items: center;
}
.full-nav {
  display: flex;
  
  justify-content: space-around;
  background-color: #000d56;
  top: 0; /* required */  
}

.full-nav img {
  width: 30px;
  margin-bottom: 7px;
}
.nav-bar a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: all 0.3s ease-out;
}

.nav-bar div nav {
  width: 80%;
  display: flex;
  justify-content: center;
}
.full-nav div a:hover {
  color: rgb(163, 19, 19);
  transform: scale(1.3);
  transition: all 0.3s ease-in;
}
.links-cotainer {
  display: flex;
  justify-content: space-between;
}
.nav-bar .full-nav-burger {
  display: none;
}
#brand {
  color: white;
}

@media screen and (max-width: 768px) {
  .nav-bar {
        z-index: 999;
  }
  .nav-bar .full-nav {
    flex-direction: column;
    justify-content: center;
  }
  .nav-bar .full-nav .links,
  .auth {
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
  }
  .nav-bar .full-nav-burger {
    position: fixed;
    top:0;
    width: 100%;
    height: 55px;
    background-color: #000d56;
  }
  .nav-bar .full-nav-burger img {
    display: flex;
    width: 40px;
  }
  .nav-bar .full-nav-burger {
    display: flex;
    color: white;
  }
  .full-nav {
    background-color: #000d56c7;
    width: 100vw;
    position: fixed;

    margin-top: 50px;
  }
  #brand {
    display: none;
  }
}

/*****************************     SIGN-UP PAGE   ****************************/
/*___________________________________________________________________________*/
#sign-up-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.sign-up-container {
  display: flex;
  flex-direction: column;
  background-color: #bec0ca;
  width: 65%;
  align-items: center;
}

.sign-up-container form {
  padding-top: 80px;
  max-width: 340px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
/* ---------*/

.sign-up-container form h3 {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #000d56;
  justify-content: center;
  margin-bottom: 40px;
  color: #000d56;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.sign-up-container button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;

  background-color: rgb(163, 19, 19);
  color: white;
  border-radius: 5px;
}

.sign-up-picture {
  background-color: #2c7399;
  width: 35%;
}
.sign-up-picture img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .sign-up-picture {
    display: none;
  }
  .sign-up-container {
    align-items: flex-start;
    width: 100%;
  }
}

/*****************************     LOG-IN PAGE   ****************************/
/*___________________________________________________________________________*/
#log-in-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.log-in-container {
  display: flex;
  flex-direction: column;
  background-color: #bec0ca;
  width: 65%;
  align-items: center;
}
.log-in-container form {
  padding-top: 80px;
  max-width: 340px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.log-in-container form h3 {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #000d56;
  justify-content: center;
  margin-bottom: 40px;
  color: #000d56;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.log-in-container button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;

  background-color: rgb(163, 19, 19);
  color: white;
  border-radius: 5px;
}
.log-in-picture {
  background-color: #2c7399;
  width: 35%;
}
.log-in-picture img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .log-in-picture {
    display: none;
  }
  .log-in-container {
    align-items: flex-start;
    width: 100%;
  }
}

/*****************************     CREATE TEAM PAGE   ****************************/
/*___________________________________________________________________________*/

#create-team-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}
.create-team-container{
 
  width:30%

}

.create-team-container form {
  padding-top: 80px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.create-team-container form h3 {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #000d56;
  justify-content: center;
  margin-bottom: 40px;
  color: #000d56;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.create-team-container button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;

  background-color: rgb(163, 19, 19);
  color: white;
  border-radius: 5px;
}
@media screen and (max-width:1024px) {
  .create-team-container{
  
    width:100%;
   
  
  }
  
}
/* -------------  id Form Rest Forms--------------*/
#user-edit-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#create-tourney-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#create-game-container {
  border:2px solid yellow;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* -------------  General Form --------------*/

.input-container {
 
  position:relative;
  display: flex;
  flex-direction: column;
 

}

.input-container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  color: rgb(163, 19, 19);
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.8);
}

.input-container label {
  
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  line-height: 1;
  left: 16px;
}

.input-container input {
  background-color: #000d56;
  color: white;
  height: 64px;
  border-radius: 4px;
  border: none;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input:focus {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/*_________________________  Uploader Pic Form_____________________________________________*/
.uploader-pic {
  position: relative;
  display: flex;
  flex-direction: column;
}

.uploader-pic label {
  position: absolute;
  pointer-events: none;

  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: rgb(163, 19, 19);
  font-size: 15px;
  line-height: 1;
  left: 16px;
  top: 6px;
}

.uploader-pic input {
  background-color: #000d56;
  color: white;
  height: 64px;
  border-radius: 4px;
  border: none;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.uploader-pic input:focus {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.uploader-img {
  width: 70%;
  margin: 0 auto;
  border-radius: 5%;
  border: 1px solid #000d56;
}

/*_________________________  Select Option  Form_____________________________________________*/
.select-option {
  position: relative;
  display: flex;
  flex-direction: column;
}

.select-option input {
  background-color: #000d56;
  color: white;
  height: 64px;
  border-radius: 4px;
  border: none;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.select-option input:focus {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.uploader-img {
  width: 70%;
  margin: 0 auto;
  border-radius: 5%;
  border: 1px solid #000d56;
}
/*****************************     HOME PAGE     ****************************/
/*___________________________________________________________________________*/
.home-container{
  margin:0px;
  padding:0px;
  border:2px solid red;
  width: 100vw;
  
}
.home {
  
  height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #bec0ca;
  background-image: url("../public/images/ryu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;

}

.home-paraph {
  
  margin-left: 2%;
  margin-top: 2%;
  border-radius: 5%;
  background-color:#52546277;
  
 
  border: 2px solid rgb(0, 34, 128);
  width: 240px;
  height: 200px;
}

.home-braket-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.home-paraph p {
  padding: 0px 5px 0px 5px;
  text-align: justify;
}

.home div p span {
  margin-left: 20px;
  color: #000d56;
}
.home img {
  width: 90%;
}
#title-access span {
  text-decoration: underline;
  color:rgb(163, 19, 19);
}

.home-image-tourney img {
  width: 70%;
  opacity: 0.8;
}
.home-title{
  width: 70%;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-title-text{
  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-button-instructions {
  display: flex;
  justify-content: end;
}
.home-button-instructions button {
  width: 100%;
  height: 50px;
  background-color: #969ab3;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #000d56;
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  font-size: 1rem;
  transition: all 300ms ease-out;
}

.home-button-instructions button:hover {
  box-shadow: 10px 5px 5px #525462;
  transform: scale(1.1);
  transition: all 300ms ease-in;
  background-color: rgb(137, 8, 8);
  color: white;
}
/*_________________________Instructions__________________________________________________*/
.instructions-container {
  background-color: #e4e5ec;
  background-size: cover;
  height: 100%;
  color: #06086d;
}
.instructions-container h1 {
  padding: 2%;
}
.instructions-container h1 span {
  color: red;
}
.instructions-card {
  padding: 1%;
  height: 500px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  color: #06086d;
}
.instructions-card-img {
  height: 100%;
  width: 35%;
}
.instructions-card-img img {
  border: 3px solid rgb(0, 34, 128);
  border-radius: 5%;
  height: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.instructions-card-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.instructions-card li {
  text-align: start;
  font-size: 2rem;
}
.instructions-card h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  color: #000d56;
  padding-left: 2%;
}
@media screen and (max-width: 1024px) {
  .home-paraph {
    display: none;
  }
  .home-title {
    
    margin-top: 80px;
  }
  .instructions-card {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .instructions-card-text {
    width: 100%;
    padding: 1rem;
  }
  .instructions-card li {
    text-align: start;
    font-size: 1rem;
  }
  .instructions-card-img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
 
 .home {
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
 }
  .home-braket-pic {
    margin-top: 100px;
    width: 100%;
  }
  .home-paraph {
    margin: 200px 0px 100px 0px;

   
  }
  .home-image-tourney img {
    width: 100%;
  }
  .home-title {
    width: 100%;
    margin-bottom: 20px;
  }
  .home-button-instructions {
    justify-content: center;
  }
}


/*****************************     ABOUT PAGE     ****************************/
/*___________________________________________________________________________*/
.about-container {
  background-color: #bec0ca;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 76vh;
}

.about-subcontainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: baseline;

}
.about-subcontainer img {
  margin-top: 50px;
}
#about-description {
  background-color: white;
  width: 70%;
  padding: 20px;
  margin-top: 18%;
  margin-left: 7%;
  border-radius: 2%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.about-subcontainer p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  text-align: center;
  justify-content: center;
  margin: 40px;
}

@media screen and (max-width: 1024px) {
  .about-container {
    
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .about-subcontainer {
    width: 98%;
    margin:auto;
  }
  .about-subcontainer img{
    width: 100%;

  }
  #about-description{
    margin: 0px;
    width: 100%;
  }
}
/*****************************     TEAMS PAGE     ****************************/
/*___________________________________________________________________________*/

.teams-container {
  min-height:100vh;
  background-color: #bec0ca;
}

/* tourney-bracket */

body {
  font-family: "Istok Web", sans-serif;
  background-color: #464646;
  background-size: cover;
  min-height: 100%;
  margin: 0;
}

.tourney-list {
  background: url("../public/images/tourneyDetails.png") no-repeat #000;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
  color: #fcfcfc;
}
.hero h1 {
  font-family: "Holtwood One SC", serif;
  font-weight: normal;
  font-size: 5.4em;
  margin: 0 0 20px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: -1px;
}
.hero p {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  color: #5cca87;
  letter-spacing: 6px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}
.hero-wrap {
  padding: 3.5em 10px;
}
.hero p.intro {
  font-family: "Holtwood One SC", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3em;
  margin-bottom: -40px;
}
.hero p.year {
  color: #fff;
  letter-spacing: 20px;
  font-size: 34px;
  margin: -25px 0 25px;
}
.hero p.year i {
  font-size: 24px;
  vertical-align: middle;
  margin-left: 18px;
}
#bracket {
  overflow: hidden;
  background-color: #e1e1e1;
  background-color: rgba(225, 225, 225, 0.4);
  padding-top: 20px;
  font-size: 12px;
  padding: 40px 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.split {
  display: block;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 42%;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
}
.champion {
  float: left;
  display: block;
  width: 16%;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: center;
  align-self: center;
  margin-top: -15px;
  text-align: center;
  padding: 230px 0\9;
}
.champion i {
  color: #a0a6a8;
  font-size: 45px;
  padding: 10px 0;
}
.round {
  display: block;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 95%;
  width: 30.8333%\9;
}

.split-one .round {
  margin: 0 2.5% 0 0;
}
.split-two .round {
  margin: 0 0 0 2.5%;
}
.matchup {
  margin: 0;
  width: 100%;
  padding: 10px 0;
  height: 60px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.score {
  font-size: 11px;
  text-transform: uppercase;
  float: right;
  color: #2c7399;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  right: 5px;
}
.team {
  padding: 0 5px;
  margin: 3px 0;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.round-two .matchup {
  margin: 0;
  height: 60px;
  padding: 50px 0;
}
.round-three .matchup {
  margin: 0;
  height: 60px;
  padding: 130px 0;
}
.round-details {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  color: #f6f9fa;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
}
.champion li,
.round li {
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  opacity: 1;
}
.current li {
  opacity: 1;
}
.current li.team {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.vote-options {
  display: block;
  height: 52px;
}
.share .container {
  margin: 0 auto;
  text-align: center;
}
.share-icon {
  font-size: 24px;
  color: #fff;
  padding: 25px;
}
.share-wrap {
  max-width: 1100px;
  text-align: center;
  margin: 60px auto;
}
.final {
  margin: 4.5em 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.share-icon {
  color: #fff;
  opacity: 0.35;
}
.share-icon:hover {
  opacity: 1;
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
}
.date {
  font-size: 10px;
  letter-spacing: 2px;
  font-family: "Istok Web", sans-serif;
  color: #06086d;
}

@media screen and (min-width: 981px) and (max-width: 1099px) {
  .container {
    margin: 0 1%;
  }
  .champion {
    width: 14%;
  }
  .split {
    width: 43%;
  }
  .split-one .vote-box {
    margin-left: 138px;
  }
  .hero p.intro {
    font-size: 28px;
  }
  .hero p.year {
    margin: 5px 0 10px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .split,
  .champion {
    width: 90%;
    margin: 35px 5%;
  }
  .champion {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .split {
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 20px;
  }
  .hero p.intro {
    font-size: 24px;
  }
  .hero h1 {
    font-size: 3em;
    margin: 15px 0;
  }
  .hero p {
    font-size: 1em;
  }
}

@media screen and (max-width: 400px) {
  .split {
    width: 95%;
    margin: 25px 2.5%;
  }
  .round {
    width: 21%;
  }
  .current {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
  }
  .hero h1 {
    font-size: 2.15em;
    letter-spacing: 0;
    margin: 0;
  }
  .hero p.intro {
    font-size: 1.15em;
    margin-bottom: -10px;
  }
  .round-details {
    font-size: 90%;
  }
  .hero-wrap {
    padding: 2.5em;
  }
  .hero p.year {
    margin: 5px 0 10px;
    font-size: 18px;
  }
}

/****************** Tourney Edit Form ***************/

.tourney-edit-form {
  display: flex;
  justify-content: center;
  color: white;
}

.tourney-edit-form h5 {
  border: 2px outset #000d56;
  padding: 2%;
  color: rgb(163, 19, 19);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#quarter-edit {
  padding: 2%;
  border-radius: 2%;
}

#semi-edit {
  margin-top: 10%;
  height: 10%;

  padding: 5%;
  border-radius: 2%;
}

#final-edit {
  margin-top: 18%;
  height: 10%;
  padding: 5%;
  border-radius: 2%;
}
.bg1 {
  background-color: #b6b6b6;
  color: #000d56;
  padding: 5%;
  border-radius: 2%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-top: 10px;
}
.bg2 {
  background-color: #464646;

  padding: 5%;
  border-radius: 2%;

  width: 100%;
  box-sizing: border-box;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-top: 10px;
}

/*****************************  Tourney List Page ****************************/
/*___________________________________________________________________________*/

.general-container {
  /* background-image: url("../public/images/tourneyList-bg.png"); */
  background-color: #bec0ca;
  background-size: cover;
  min-height: 100vh;
}

.general-container a {
  text-decoration: none;
}
/*____________________________  Tourney Header ____________________________*/

.tourney-header {
  height: auto;
  background-color: rgb(210, 210, 223);
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.tourney-header-div1 {
  width: 100%;
  display: flex;
  justify-content: space-around;

  align-items: center;
  padding: 1% 3% 1% 3%;
}
.tourney-header-div1 h2 {
  color: #000d56;
  font-size: 50px;
  font-family: monospace;
}

.tourney-header-div2 {
  width: 65%;
  padding: 1% 15% 1% 15%;
  color: rgb(243, 243, 243);
}

/*____________________________ Tourney Card ____________________________*/
.card-container {
  background-color: #bec0ca;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tourney-card {
  background-color: rgb(2, 2, 28);
  width: 300px;
  height: 400px;
  border: 1px solid white;
  border-radius: 5%;
  margin: 20px;
  transition: all 300ms ease-out;
  opacity: 0.97;
}

.tourney-card-image {
  width: 100%;
  height: 35%;
}

.tourney-card-image img {
  height: 100%;
}

.tourney-card-content {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  height: 65%;
}

.tourney-card-content div {
  border-top: 1px solid white;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tourney-card:hover {
  box-shadow: 10px 5px 5px rgb(253, 253, 253);
  transform: scale(1.05);
  transition: all 300ms ease-in;
  opacity: 1;
}

/*____________________________ END Tourney Card ____________________________*/

@media screen and (max-width: 1024px) {
  .general-container {
    height: auto;
  }
  .input-search-list {
    width:100% !important;
  }
  .tourney-header div {
    display:flex;
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .general-container {
    height: auto;
  }
  .tourney-header div {
    width: 100%;
  }
  .tourney-header h2 {
    width:100%;
  }
}
@media screen and (max-width: 481px) {
  .general-container {
    height: auto;
  }

  .tourney-header div {
    margin-top: 50px;
    width: 100%;
  }
}
/*****************************  Tourney - Teams Page ****************************/
/*___________________________________________________________________________*/

.tourney-list-teams {
  background-color: #f9f1f1;
  width: 100vw;
  background-size: cover;
  height:76vh auto;
}
.tourney-list-teams-header {
  margin: 12px;
  border: 3px solid #000d56;
  border-radius: 2rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: #bec0ca;
  height: 30vh;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .game-tourney-list {
    flex-flow: column wrap;
    height: auto;
  }
  .tourney-list-teams {
    height: auto;
  }
}
/*_______________Game div___________________________________________________________*/

.game-tourney-list {
  height: 100%;
  width: 25%;
}
.game-tourney-list .game-img {
  height: 65%;
}
.game-img img {
  height: 100%;
}
.game-name {
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-name h3 {
  display: flex;
  flex-flow: column wrap;
}
@media screen and (max-width: 1024px) {
  .game-tourney-list {
    height: 30vh;
    width: 100%;
  }
}
/*_______________Tourney Name div___________________________________________________________*/

.tourney-list-tourney-name {
  border-right: 3px solid #000d56;
  border-left: 3px solid #000d56;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tourney-list-tourney-name h1 {
  font-size: 4rem;
  font-family: Orbitron;
}
@media screen and (max-width: 1024px) {
  .tourney-list-tourney-name {
    border-right: 0px solid #000d56;
    border-left: 0px solid #000d56;
    border-top: 3px solid #000d56;
    border-bottom: 3px solid #000d56;
    height: 30vh;
    width: 100%;
  }
}
/*_______________ Tourney-teams-List Options div___________________________________________________________*/

.tourney-team-list-options {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tourney-team-list-options-text h3 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.tourney-team-list-options-buttons {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.options-buttons {
  width: 30%;
  height: 40%;
}
.options-buttons button {
  width: 100px;
  height: 100%;
  background-color: #000d56;
  color: white;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1rem;
  transition: all 300ms ease-out;
}
.options-buttons button:hover {
  box-shadow: 10px 5px 5px #525462;
  transform: scale(1.1);
  transition: all 300ms ease-in;
}
.options-buttons button:disabled {
  opacity: 0.6;
  transform: none;
  box-shadow: none;
}

@media screen and (max-width: 1024px) {
  .tourney-team-list-options {
    height: 30vh;
    width: 100%;
  }
}

/*_______________Team List container___________________________________________________________*/

.tourney-list-team-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.team-card {
  background-color: #bec0ca;
  border: 2px solid #000d56;
  border-radius: 1rem;
  width: 12rem;
  height: 24rem;
  transition: all 300ms ease-out;
}
.team-card a {
  text-decoration: none;
  color: black;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.image-card {
  border-bottom: 2px solid #000d56;
  width: 100%;
  height: 70%;
  display: flex;

  align-items: center;
}
.image-card img {
  width: 100%;
}
.name-team {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name-team h3 {
  font-family: "Courier New", Courier, monospace;
}
.team-card:hover {
  box-shadow: 10px 5px 5px #525462;
  transform: scale(1.05);
  transition: all 300ms ease-in;
  opacity: 1;
}
.team-card:hover .image-card {
  transform: scale(1.1);
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  border: 2px solid rgb(163, 19, 19);
}
.team-card:hover .name-team {
  background-color: #000d56;
  color: white;
  border-radius: 1rem;
  border: 2px solid rgb(163, 19, 19);
}
@media screen and (max-width: 1024px) {
  .tourney-list-teams-header {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .start-tourney-btn {
    width: 100%;
  }
  .add-team-btn {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .team-card {
    width: 80vw;
    height: 26rem;
  }
}

/******************** Teams List Page ****************************/
/*___________________________________________________________________________*/

.teams-container {
  margin-top: 20px;
  padding-top: 40px;
  background-color: #bec0ca;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 2rem;

}

.teams-container a {
  text-decoration: none;
}

.search-team {
  padding-top: 20px;
  display: block;
  width: 25%;
  margin: auto;
}
.search-team h5 {
  color: #000d56;
}
.card-team {
  background-color: white;
  height: 400px;
  width: 14rem;
  opacity: 1;
  gap: 40px;
  transition: all 300ms ease-out;
}

.card-team:hover {
  box-shadow: 10px 5px 5px #525462;
  transform: scale(1.05);
  transition: all 300ms ease-in;
  opacity: 1;
}
.div-img {
  height: 18rem;
  display: flex;
  align-items: center;
}
.card-team img {
  opacity: 1;
}
.name {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-team h5 {
  color: #000d56;
  /* font-family: Orbitron; */
}
@media screen and (max-width: 1024px) {
  .search-team {
    padding-top: 10px;
    display: block;
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .teams-container {
    justify-content: space-around;
  }
}
@media screen and (max-width: 481px) {
  .card-team {
    justify-content: center;
    width: 20rem;
    height: 550px;
  }
  .div-img {
    height: 21rem;
  }
}

/***************************** Team Details Page ****************************/
/*___________________________________________________________________________*/

.team-details-container {
  height: 100vh;
  background-color: #bec0ca;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team-details-container h1 {
  border-radius: 5%;
  padding: 10px;
  color: rgb(163, 19, 19);
  margin-top: -140px;
  margin-bottom: 60px;
  box-shadow: rgba(126, 47, 35, 0.12) 0px 2px 4px 0px,
    rgba(105, 34, 31, 0.32) 0px 2px 16px 0px;
}

.team-info-details {
  display: flex;
  border: 2px solid #000d56;
  width: 60%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.team-info-shield {
  width: 35%;
}
.team-info-shield img {
  width: 100%;
}

.data-team {
  background-color: #000d56;
  width: 65%;

  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-team h4 {
  position: relative;
  margin: 20px;
  right: 40px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .team-info-details {
    width: 100%;
    height: 30%;
  }

  .data-team {
    width: 70%;
  }

  .team-info-shield {
    width: 35%;
    display: flex;
    align-items: center;
   
  }

  .team-info-shield img {
    width: 100%;
  }
}

/***************************** BURGER COMPONENT ****************************/
/*___________________________________________________________________________*/
.burger {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: fixed;
  top: 12px;
  right: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.burger div {
  width: 2rem;
  height: 0.25rem;
  background-color: rgb(163, 19, 19);
  border-radius: 0.1rem;
}
@media screen and (min-width: 768px) {
  .burger div {
    display: none;
  }
}

/***************************** PROFILE ****************************/
/*___________________________ Data User Box______________________*/
.info-container {

  background-color: #bec0ca;
  height: 100vh;
  width: 100%;
  display: flex;

  align-items: center;
}

.info-user {
  
  width: 35%;
  height: 100%;

  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.info-user h2,
h4 {
  font-weight: bold;
}
.box-user {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 60%;
}
.image-user {

  height: 80%;
  width:50%;
  margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

 
}
.image-user img {

width: 100%;
height: 100%;
  border-radius: 5%;
  border: 1px solid #000d56;
}
.info-user button {
  width: 100%;
  height: 70px;
  background-color: #969ab3;
  color: #000d56;
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  font-size: 1rem;
}
.info-user button:hover {
  background-color: #000d56;
  color: white;
}

.box-buttons {
  display: flex;
  width: 100%;
  height: 40%;
}
.button-group {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}
.button-group div {
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
}
/* ________________________ Components Box__________________*/
/* #profile-components-image {
  display: flex;
  width: 65%;
  height: 100vh;
}
#profile-components-image img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
} */

#profile-components {
  background-image:url("../public/images/profile-eschallenge-opacity.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
}

.your-team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
}

#own-team-box {
  display: flex;
  flex-direction: column;
  width: 40%;

  border: 1px solid #000d56;
  border-radius: 5%;
  background-color: rgb(163, 19, 19);
}
.your-team #own-team-box img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width: 100%;
}

.your-team h4 {
  margin: 20px;
}
.your-team p {
  margin: 10px;
}

@media screen and (max-width: 1024px) {
  .info-container {
    padding-top:40px;
    width: 100%;
    background-color: #bec0ca;
    height: auto;

    display: flex;
    flex-direction: column;
  }
  .info-user {
    margin-top: 20px;
    width: 100%;
    /* margin-bottom: 100px; */
    box-shadow: none;
  }
  #profile-components {
    display: flex;
    width: 100%;
  }
  .image-user img {
    width: 50%;
 
  
   
  }

}

/* ********************  Team Included Component  *********** */
/*____________________________________________________________*/

#team-included-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.team-included-container {
 
  width: 30%;
  height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.team-included-container div{
width: 100%;

}
.team-included-container h3 {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #000d56;
  justify-content: center;
  margin-bottom: 40px;
  color: #000d56;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.team-included-container a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width:1024px) {
  .team-included-container {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    }
    .team-included-container div{
      width: 70%;
      
      }
}

/* __________ __________________TEAM CARD_________*/
.team-included-card {
  display: flex;
  background-color: #000d56;
  margin: 10px auto;
  width: 80%;

  border: 1px solid #000d56;
  border-radius: 5%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: all 0.3s ease-out;
}

.team-included-card-box1 {
  width: 40%;
  transition: all 0.3s ease-out;
}
.team-flag {
  background-color: white;
  width: 100%;
  border-top-left-radius: 6%;
  border-bottom-left-radius: 6%;
  transition: all 0.3s ease-out;
}
.team-included-card-box2 {
  width: 60%;
  transition: all 0.3s ease-out;
}

/* __________ __________________Card Animation_________*/
.team-included-card:hover {
  transform: scale(1.1);
  background-color: red;
  border: none;
}
.team-included-card:hover .team-included-card-box1 {
  transform: scale(1.2);
  transition: all 0.3s ease-in;
}
.team-included-card:hover .team-included-card-box2 {
  color: white;
  transform: translate(0, 3em) scale(1.2);

  transition: all 0.3s ease-in;
}

.team-included-card:hover .team-flag {
  border-top-right-radius: 6%;
  border-bottom-right-radius: 6%;
}

.team-included-card-box1:hover {
  transform: translate(3em, 0);
  transition: all 0.3s ease-in;
}

.team-included-card-box2:hover {
  transition: all 0.3s ease-in;
}

/***************************** FOOTER ****************************/
/*_________________________________________________*/

.footer{
  /* position:sticky; */
  bottom:0;
  width: 100vw;
 
  height:20vh;
  background-color:  #000d56;
  opacity: 0.7;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    color:white;
    display:flex;
}
.footer-logo{
 
  width: 50%;
  height: 100%;
}
.footer-logo-img{
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo img{
  padding: 1rem;
  height:100%;

}
.footer-logo-text{
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-developers{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-contact{
 
  width:25%;
  display:flex;
  flex-direction: column;
  justify-content: center ;
  align-items: flex-start ;
}
@media screen and (max-width: 1024px) {
 .footer{
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  height: auto;
  gap:20px;
 }
 .footer-contact{
  align-items: center;
 }
 .footer-developers {
 width: 100%;
 }
}